<div class="m-auto mt-8 mb-8 max-w-6xl">
  <div class="justify-left flex flex-col space-y-1 sm:flex-row">
    <h1 class="mr-8 mb-0 text-lg whitespace-nowrap">
      <a class="bg-gruvbox-bg0-hard p-1" href="/">
        <span>[</span>
        <span class="hover:text-gruvbox-red-bright">{{ .Site.Title }}</span>
        <span>]</span><span class="text-base"> $</span>
      </a>
    </h1>
    <div class="text-lg">
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
  </div>
</div>
