{{ if gt (len site.Params.socials) 0 }}
  <div>
    <ul class="flex list-none flex-row space-x-4">
      {{ range site.Params.socials }}
        <li>
          <a
            target="_blank"
            rel="noreferrer"
            href="{{ .url }}"
            title="{{ .name }}"
            aria-label="{{ .name }}"
            class="flex items-center justify-center"
          >
            <i class="{{ .icon }} text-lg" aria-hidden="true"></i>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
