<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="bg-bg font-display text-fg selection:bg-fg selection:text-bg p-4 md:p-8">
    <header>
      {{ partial "header.html" . }}
    </header>
    <div class="m-auto max-w-6xl">
      <main class="grid grid-cols-1 md:grid-cols-4">
        <article class="md:col-span-3 md:mr-8">
          {{ block "main" . }}{{ end }}
        </article>
        <aside class="mt-8 md:col-span-1 md:mt-0">
          {{ partial "about.html" . }}
          {{ partial "socials.html" . }}
          <hr />
          {{ partial "menu.html" (dict "menuID" "aside" "page" .) }}
          {{ block "aside" . }}{{ end }}
        </aside>
      </main>
      <footer class="mt-8">
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </body>
</html>
