<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <!-- TODO: Ensure responsive layout on mobile (<45rem). -->

  <body
    class="bg-gruvbox-bg font-display text-gruvbox-fg selection:bg-gruvbox-fg selection:text-gruvbox-bg p-8"
  >
    <header>
      {{ partial "header.html" . }}
    </header>
    <div class="m-auto max-w-6xl">
      <main class="grid grid-cols-4">
        <article class="col-span-3 mr-8">
          {{ block "main" . }}{{ end }}
        </article>
        <aside class="col-span-1">
          {{ partial "about.html" . }}
          {{ partial "socials.html" . }}
          <hr />
          {{ partial "menu.html" (dict "menuID" "aside" "page" .) }}
          {{ block "aside" . }}{{ end }}
        </aside>
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </body>
</html>
